<style>
  * {
  margin: 0;
  padding: 0;
  border: none;
  }
  html, body {
  height: 1em;
  }
</style>
<%= form_tag(putit_upload_url, :multipart => true, :class => 'fileUpload') do %>
  <%= file_field_tag :file %><a href="javascript:void(0);" class="remove">削除</a>
<% end %>
