<%= form_for(@entry) do |f| %>
  <ul>
  <% @entry.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
  <%= f.upload_select :image, :size => '200x200' %>
  <%= f.submit '更新', :disable_with => 'Uploading...' %>
<% end %>
